main{
  width: 80%;
  margin: 0px auto;
}
.top-bar{
  float:left;
  display: inline-block;
  height: 200vh;
  width: 33%;
  background-color: #4a90e2;
}
.mid-bar{
  float:left;
  display: inline-block;
  height: 200vh;
  width: 33%;
  background-color: #50e3c2;
}
.bottom-bar{
  float:left;
  display: inline-block;
  height: 170vh;
  width: 33%;
  background-color: #b8e986;
}
.img-bar{
  float:left;
  display:flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 33%;
  background-color: red;
}
.banner{
  display:flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .7)
}
.img-bar{
  background: url("https://i.ytimg.com/vi/2h6EQ57wgAs/maxresdefault.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .9;
}
.img-bar h1{
  padding: 8px;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px black;
  font-size: 20px;
}
